.card__lista {
    font-family: Poppins, Calibri, Arial;
    color: #333333;
    text-align: center;

    background-color: #cccccc;
    border-radius: 4px;

    position: relative;
}
.delete__svg {
    position: absolute;
    top: 1px;
    right: 5px;

    fill: #ffffff;
}
.card__lista__titulo {
    display: block;
    background-color: #333333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    color: #ffffff;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
}
.card__lista__texto {
    padding: 10px;
    font-size: 1rem;
    line-height: 1.4rem;
}