:root {
    font-family: Poppins, Calibri, Arial;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea, select {
    border: none;
    outline: none;

    font-family: Poppins, Calibri, Arial;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}